-content_for :head do
  = javascript_include_tag "recurring_entries"

%h1.main_heading="Recurring Events"
#daily_group.span-24
  .heading_container.span-24
    %h3= "Daily"
  .recurring_entry_controls.span-24{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_daily",nil,:class => "time_field")
    = "Content"
    = text_field_tag("content_field_daily",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_daily")
  .recurring_entry_list.span-24
    = render :partial => "daily_list", :locals => {:daily => @daily}

#weekdaily_group
  .heading_container.span-24
    %h3= "Weekdaily"
  .recurring_entry_controls.span-24{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_weekdaily",nil,:class => "time_field")
    = "Content"
    = text_field_tag("content_field_weekdaily",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_weekdaily")
  .recurring_entry_list.span-24
    = render :partial => "weekdaily_list", :locals => {:weekdaily => @weekdaily}

#weekly_group
  .heading_container.span-24
    %h3= "Weekly"
  .recurring_entry_controls.span-24{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_weekly",nil,:class => "time_field")
    = "Day"
    = select_tag "day_field_weekly", options_for_select(day_options)
    = "Content"
    = text_field_tag("content_field_weekly",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_weekly")
  .recurring_entry_list.span-24
    = render :partial => "weekly_list", :locals => {:weekly => @weekly}

#monthly_group
  .heading_container.span-24
    %h3= "Monthly"
  .recurring_entry_controls.span-24{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_monthly",nil,:class => "time_field")
    = "Day"
    = select_tag "day_field_monthly", options_for_select((1..31).to_a)
    = "Content"
    = text_field_tag("content_field_monthly",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_monthly")
  .recurring_entry_list.span-24
    = render :partial => "monthly_list", :locals => {:monthly => @monthly}

#yearly_group
  .heading_container.span-24
    %h3= "Yearly"
  .recurring_entry_controls.span-24{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_yearly",nil,:class => "time_field")
    = "Date"
    = select_tag "day_field_yearly", options_for_select((1..31).to_a)
    = select_tag "month_field_yearly", options_for_select(month_options)
    = "Content"
    = text_field_tag("content_field_yearly",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_yearly")
  .recurring_entry_list.span-24
    = render :partial => "yearly_list", :locals => {:yearly => @yearly}

#helper{:style => "display:none", :"data-create-path" => user_recurring_entries_path(@user), :"data-user-id" => @user.id}
