-content_for :head do
  = javascript_include_tag "recurring_entries"

%h1="Recurring Events"
#daily_group
  .heading_container
    %h3= "Daily"
  .recurring_entry_controls{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_daily",nil,:class => "time_field")
    = "Content"
    = text_field_tag("content_field_daily",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_daily")
  .recurring_entry_list
    - @daily.each do |item|
      .recurring_entry_time
        != item.due_time ? item.due_time.strftime("%I:%M%p") : "&nbsp;"
      .recurring_entry_content
        = item.content

#weekly_group
  .heading_container
    %h3= "Weekly"
  .recurring_entry_controls{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_weekly",nil,:class => "time_field")
    = "Day"
    = select_tag "day_field_weekly", options_for_select(day_options)
    = "Content"
    = text_field_tag("content_field_weekly",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_weekly")
  .recurring_entry_list
    - @weekly.each do |item|
      .recurring_entry_time
        != item.due_time ? item.due_time.strftime("%I:%M%p") : "&nbsp;"
      .recurring_entry_weekday
        = week_day(item.wday)
      .recurring_entry_content
        = item.content

#monthly_group
  .heading_container
    %h3= "Monthly"
  .recurring_entry_controls{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_monthly",nil,:class => "time_field")
    = "Day"
    = select_tag "day_field_monthly", options_for_select((1..31).to_a)
    = "Content"
    = text_field_tag("content_field_monthly",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_monthly")
  .recurring_entry_list
    - @monthly.each do |item|
      .recurring_entry_time
        != item.due_time ? item.due_time.strftime("%I:%M%p") : "&nbsp;"
      .recurring_entry_mday
        = item.mday
      .recurring_entry_content
        = item.content

#yearly_group
  .heading_container
    %h3= "Yearly"
  .recurring_entry_controls{:style => "display:none;"}
    = "Time"
    = text_field_tag("time_field_yearly",nil,:class => "time_field")
    = "Date"
    = select_tag "day_field_yearly", options_for_select((1..31).to_a)
    = select_tag "month_field_yearly", options_for_select(month_options)
    = "Content"
    = text_field_tag("content_field_yearly",nil,:class => "content_field")
    = submit_tag("Add", :class => "submit_new_yearly")
  .recurring_entry_list
    - @yearly.each do |item|
      .recurring_entry_time
        != item.due_time ? item.due_time.strftime("%I:%M%p") : "&nbsp;"
      .recurring_entry_due_date
        = item.mday.due_date
      .recurring_entry_content
        = item.content
