%td.entry_time= entry.due_time ? entry.due_time.strftime("%I:%M%p") : " "
%td.entry_content= entry.content
%td.entry_up= "up"
%td.entry_down= "down"
%td.entry_previous= "previous"
%td.entry_next= "next"
%td.entry_complete= "complete"