:javascript
  (function($) {
    $(function(){
      $(".date_container").click(function(){
        $("#add_entry_controls").hide();
        $(".entry_controls",$(this).parent()).append($("#add_entry_controls"));
        $("#add_entry_controls").show();
      });
      $("#submit_new_entry").click(function(e){
        e.preventDefault();
        var time = $("#entry_time_field").val();
        var content = $("#entry_content_field").val();
        var date = $(this).parent().parent().parent().attr("data-date");
        var ajax_data = {
          entry : {
            due_time : time,
            due_date : date,
            content : content
          }
        };
        $.ajax({
          url : create_entry_path,
          type : 'POST',
          data : ajax_data,
          success : function(data,x,y){
             alert(data);
          }
        });
      });
    });
  })(jQuery);

%script
  ="var create_entry_path = '#{user_entries_path(current_user)}'"

%h1="To Do List"
%div#add_entry_controls{:style => "display:none;"}
  = "Time"
  = text_field_tag("entry_time_field")
  = "Content"
  = text_field_tag("entry_content_field")
  = submit_tag("Add", :id => "submit_new_entry")
- @dates.each do |date|
  - datestr = date.strftime("%d-%m-%Y")
  .date_group{:"data-date" => datestr}
    .date_container
      %h3= date_label(date)
    .entry_controls
    .entry_list
      = render :partial => "entry_list", :locals => {:date => date}



