- content_for :head do
  = javascript_include_tag "entries"

%h1="To Do List"
- @dates.each do |date|
  - datestr = date.strftime("%d-%m-%Y")
  .date_group{:"data-date" => datestr}
    .date_container
      %h3= date_label(date)
    .entry_controls{:style => "display:none;"}
      = "Time"
      = text_field_tag("time_field_#{datestr}")
      = "Content"
      = text_field_tag("content_field_#{datestr}")
      = submit_tag("Add", :class => "submit_new_entry",
        :"data-path" => user_entries_path(current_user))
    .entry_list
      = render :partial => "entry_list", :locals => {:date => date}
