!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title="Rudash"
    = yield :head
  %body
    %div#page
      - if current_user
        %div#header
          = link_to "Logout", logout_path
          = link_to "Users", users_path if current_user.users_permission
          = link_to "Todo", user_entries_path(current_user)
          %div#flash= flash[:notice]
      %div#main
      = yield