!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title="Rudash"
    = stylesheet_link_tag "screen.css", :media => "screen, projection"
    = stylesheet_link_tag "print.css", :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag "ie.css", :media => "screen, projection"
    = stylesheet_link_tag "plugins/fancy-type/screen.css", :media => "screen, projection"
    = stylesheet_link_tag "application.css"
    = javascript_include_tag 'jquery-1.4.2.min.js'
    = javascript_include_tag 'application'
    = yield :head
  %body
    %div#page.container
      - if current_user
        %div#header.span-24.last
          = link_to "Logout", logout_path
          = link_to "Users", users_path if current_user.users_permission
          = link_to "Todo", user_entries_path(current_user)
          - if current_user.recurring_entries_permission
            = link_to "Recurring events", user_recurring_entries_path(current_user)
          %div#flash= flash[:notice]
      %div#main.span-24.last
        = yield